.central_part{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top:5em;
	display: inline-block;
	text-align: center;
	left: 22em;

}


input{
	
	width:570px;
	height: 25px;
	
}

button{
	
	
	margin-top: 20px;
	background:  #f4f4f4;
	color: #444;
	
	border-color: rgba(0,0,0,0.1);
	border:1px solid #dcdcdc;
	border-radius: 2px;
	height: 29px;
	min-width: 54px;
	font-size: 11px;
	font-weight: bold;

}


.lucky{
margin-left: 10px;
}

button:hover{
	border:1px solid #c6c6c4; 
    background: #f8f8f8;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
	position: relative;
	display: inline-block;
	font-family: Arial, sans-serif;
	font-size: 13px;
	margin-right:10px;
}
.navbar li{
	
	
	left: -20px;
	float: right;
	top:2em;
	

}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	text-decoration: underline;
}

.fbar{
	background: #f2f2f2;
	position: absolute;
	bottom: 0;
	height: 35px;
	width: 100%;
}
.fbar a{
	position: relative;
	color: #404040;
	text-align: center;
	
	top:8px;
	margin-left: 15px;
}
.lfbar {
	
	
	float: left;

}

.rfbar {
	
	float: right;
	right: 15px;
}
